<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="_csrf" th:content="${_csrf.token}" />
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="scope" th:content="${access}" />
    <meta name="institutionId" th:content="${institutions}" />
    <meta name="cd4" th:content="${cd4}" />
    <meta name="accessToken" th:content="${accessToken}" />

    <!-- Page title -->
    <title>ORB | Services</title>
   <!-- <link rel="stylesheet" href="styles/all.min.css">-->
    <link rel="stylesheet" href="styles/style.css">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" type="image/x-icon"  href="images/favicon.ico" />

    <!-- Vendor styles -->
   <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css" />
     <link rel="stylesheet" href="vendor/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="dataTables/datatables.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" />

    <!-- App styles -->
    <!--<link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/helper.css" />-->
</head>
<body class="fixed-navbar fixed-sidebar">

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>ORB - Services</h1><p>Comprehensive School Management App for small and medium schools with very clean and aesthetic style and feel. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header -->
<div id="header">
    <div class="color-line">
    </div>
    <div id="logo" class="light-version">
        <img src="images/orbLogo.png" style="height: 35px;margin-top: -7px;">
        <span>
            ORB Services
        </span></img>
    </div>
    <nav role="navigation">
        <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
        <div class="small-logo">
            <span class="text-primary">ORB Services</span>
        </div>
        <form role="search" class="navbar-form-custom" method="post" action="#">
            <div class="form-group">
                <input type="text" placeholder="Search something special" class="form-control" name="search">
            </div>
        </form>
        <div class="mobile-menu">
            <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                <i class="fa fa-chevron-down"></i>
            </button>
            <div class="collapse mobile-navbar" id="mobile-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="" href="login.html">Login</a>
                    </li>
                    <li>
                        <a class="" href="/logout">Logout</a>
                    </li>
                    <li>
                        <a class="" href="profile.html">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                <li>
                    <a href="#" id="sidebar" class="right-sidebar-toggle">
                        <i class="pe-7s-upload pe-7s-news-paper"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="login.html">
                        <i class="pe-7s-upload pe-rotate-90"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Navigation -->
<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">
            <a href="index-2.html">
                <img src="images/profile.jpg" class="img-circle m-b" alt="logo">
            </a>

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase" th:text="${userName}"></span>

                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted staffLoginId" th:text="${userName}">System Admin <b class="caret"></b></small>
                    </a>
                    <ul class="dropdown-menu animated flipInX m-t-xs">
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="analytics.html">Analytics</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav" id="side-menu">
            <li class="active">
                <a href="index-2.html"> <span class="nav-label">Dashboard</span> <span class="label label-success pull-right">v.1</span> </a>
            </li>
            <li>
                <a href="analytics.html"> <span class="nav-label">Analytics</span><span class="label label-warning pull-right">NEW</span> </a>
            </li>
            <li>
                <a href="#" class=" departmentGroup"><span class="nav-label">Setup</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a id="institution" class="functionalGroup">Institution</a></li>
                    <li><a id="classgroup" class="functionalGroup"><span class="fa fa-cubes"></span>  Class group</a></li>
                    <li><a id="classes" class="functionalGroup"><span class="fa fa-cube"></span>  Classes </a></li>
                    <li><a id="subject" class="functionalGroup"><span class="fa fa-book"></span>  Subject</a></li>
                    <li><a id="admission" class="functionalGroup"><span class="fa fa-plus-square"></span>  Admission</a></li>
                    <li><a id="department" class="functionalGroup"><img src="images/16px/015-apartment-building.png" class="flaticons"/>  Department</a></li>
                    <li><a id="grading" class="functionalGroup"><img src="images/16px/082-exam-results.png" class="flaticons"/> Grading</a></li>
                    <li><a id="permissions" class="functionalGroup"><span class="fa fa-shield"></span>  Permissions</a></li>
                    <li><a id="accommodation" class="functionalGroup"><span class="fa fa-shield"></span>  Accommodation</a></li>
                </ul>
            </li>
            <li>
                <a class=" departmentGroup"><span class="nav-label">Human Resource</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a  id="onloading" class="functionalGroup"><img src="images/16px/003-onboarding-2.png" class="flaticons"/>Onboarding </a></li>
                    <li><a  id="records" class="functionalGroup"><img src="images/16px/019-keeping-2.png" class="flaticons"/>Records</a></li>
                    <li><a  id="leave" class="functionalGroup"><img src="images/16px/006-leave.png" class="flaticons"/>Leave</a></li>
                    <li><a  id="appraisals" class="functionalGroup"><img src="images/16px/012-performance-appraisal.png" class="flaticons"/>Appraisals</a></li>
                    <li><a  id="designation" class="functionalGroup"><img src="images/16px/016-commercial.png" class="flaticons"/>Designation</a></li>
                    <li><a  id="offloading" class="functionalGroup"><img src="images/16px/005-exit-1.png" class="flaticons"/>Offboarding</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class=" departmentGroup"><span class="nav-label">Finance</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a  id="billcreation" class="functionalGroup"><img src="images/16px/025-fee-1.png" class="flaticons"/> Bill Creation</a></li>
                    <li><a  id="billing" class="functionalGroup"><img src="images/16px/024-fee.png" class="flaticons"/> Billing</a></li>
                    <li><a  id="feecollection" class="functionalGroup"><img src="images/16px/023-taxes.png" class="flaticons"/> Fee Collection</a></li>
                    <li><a  id="paymenthistory" class="functionalGroup"><img src="images/16px/026-transaction-history.png" class="flaticons"/> Payment History</a></li>
                    <li><a  id="paymentchecker" class="functionalGroup"><img src="images/16px/054-checker.png" class="flaticons"/> Payment Checker</a></li>
                    <li><a  id="salarysetup" class="functionalGroup"><img src="images/16px/033-payroll.png" class="flaticons"/> Salary Setup</a></li>
                    <li><a  id="payslipgeneration" class="functionalGroup"><img src="images/16px/036-security.png" class="flaticons"/> Payslip </a></li>
                    <li><a  id="ledgerbooks" class="functionalGroup"><img src="images/16px/038-ledgers.png" class="flaticons"/> Ledger Books</a></li>
                    <li><a  id="incomestatement" class="functionalGroup"><img src="images/16px/046-financial-statement.png" class="flaticons"/> Income Statement</a></li>
                    <li><a  id="cashflow" class="functionalGroup"><img src="images/16px/041-cashflow.png" class="flaticons"/> Cash Flow</a></li>
                    <li><a  id="trialbalanace" class="functionalGroup"><img src="images/16px/047-financial-statement-1.png" class="flaticons"/> Trial Balance</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class=" departmentGroup"><span class="nav-label">Administration</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a id="studEnrollment" class="functionalGroup"><img src="images/16px/057-add-friend.png" class="flaticons"/>Student Enrollment </a></li>
                    <li><a id="studRecords" class="functionalGroup"><img src="images/16px/018-keeping-1.png" class="flaticons"/> Student Record </a></li>
                    <li><a id="studSuspension" class="functionalGroup"><img src="images/16px/061-suspended-2.png" class="flaticons"/> Suspended </a></li>
                    <li><a id="studDismissal" class="functionalGroup"><img src="images/16px/064-dismiss-2.png" class="flaticons"/> Dismissed</a></li>
                    <li><a id="studList" class="functionalGroup"><span class="fa fa-file-text"></span> Student List</a></li>
                    <li><a id="classList" class="functionalGroup"><span class="fa fa-file-text-o"></span> Class List</a></li>
                    <li><a id="academicTT" class="functionalGroup"><span class="fa fa-calendar"></span> Academic Timetable</a></li>
                    <li><a id="idGen" class="functionalGroup"><span class="fa fa-id-card-o"></span> ID card Generation</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class=" departmentGroup"><span class="nav-label">Academics</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a id="academicOverView"  class="functionalGroup"><span class="label label-success pull-right">Start</span> Overview </a>  </li>
                    <li><a id="questionApproval"  class="functionalGroup"><img src="images/16px/080-approved.png" class="flaticons"/>  Question Upload Approval</a></li>
                    <li><a id="scoreUpload"  class="functionalGroup"><span class="fa fa-upload"></span>  Score Upload </a></li>
                    <li><a id="terminalReport"  class="functionalGroup"><span class="fa fa-file-pdf"></span> Terminal Report </a></li>
                    <li><a id="broadSheet"  class="functionalGroup"><span class="fa fa-file-excel"></span> Broadsheet </a></li>
                    <li><a id="transcript"  class="functionalGroup"><span class="fa fa-file-text"></span> Transcript </a></li>
                    <li><a id="classTimeTable"  class="functionalGroup"><span class="fa fa-calendar"></span> Class Timetable </a></li>
                    <li><a id="promotions"  class="functionalGroup"><img src="images/16px/067-promotional-material.png" class="flaticons"/>  Promotions And Demotions </a></li>
                </ul>
            </li>
            <li>
                <a href="#" class=" departmentGroup"><span class="nav-label">Infairmary</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a id="vitals_recording"  class="functionalGroup"><span class="fa fa-heartbeat"></span> Vitals Recording</a></li>
                    <li><a id="medical_history"  class="functionalGroup"><span class="fa fa-medkit"></span>  Medical History</a></li>
                    <li><a id="diagnosis_recording"  class="functionalGroup"><span class="fa fa-user-md"></span>  Diagnosis Recording</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class=" departmentGroup"><span class="nav-label">Accommodation</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a id="accommodationStudentList" class="functionalGroup"><span class="fa fa-book"></span>  Student List</a></li>
                    <li><a id="roomAllocation" class="functionalGroup"><span class="fa fa-plus-square"></span>  Room Allocation</a></li>
                    <li><a id="dutyRoster" class="functionalGroup"><img src="images/16px/015-apartment-building.png" class="flaticons"/>  Duty Roster</a></li>
                    <li><a id="resourceTracking" class="functionalGroup"><img src="images/16px/082-exam-results.png" class="flaticons"/> Resource Tracking</a></li>
                    <li><a id="positions" class="functionalGroup"><span class="fa fa-shield"></span>  Positions & Prefects</a></li>
                    <li><a id="faults" class="functionalGroup"><span class="fa fa-shield"></span>  Faults & Complaints</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class=" departmentGroup"><span class="nav-label">Stores</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a  class="functionalGroup"><span class="fa fa-line-chart"></span>  Insight</a></li>
                    <li><a  class="functionalGroup"><span class="fa fa-edit"></span> Inventory </a></li>
                    <li><a  class="functionalGroup"><span class="fa fa-money"></span>  Sales </a></li>

                </ul>
            </li>
            <li>
                <a href="widgets.html" class=" departmentGroup"> <span class="nav-label">Question Upload</span> <span class="label label-success pull-right">Special</span></a>
            </li>
           <li>
                <a href="#" class=" departmentGroup"><span class="nav-label">Teaching Staff</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a id="staffQuestionUpload"  class="functionalGroup"><img src="images/16px/075-upload-file.png" class="flaticons"/>  Question Upload</a></li>
                    <li><a id="staffAssignment"  class="functionalGroup"><img src="images/16px/083-assignment.png" class="flaticons"/> Assignment </a></li>
                    <li><a id="staffExams"  class="functionalGroup"><img src="images/16px/081-exam-time.png" class="flaticons"/>  Exams </a></li>
                    <li><a id="staffScoreUpload"  class="functionalGroup"><img src="images/16px/074-file-upload.png" class="flaticons"/>  Score Upload </a></li>
                    <li><a id="staffAssignmentReview"  class="functionalGroup"><img src="images/16px/084-reviewers.png" class="flaticons"/>  Assignment Review </a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>

<!-- Main Wrapper -->
<div id="wrapper">

    

    <!-- Right sidebar -->
    <!-- 
    <div id="right-sidebar" class="animated fadeInRight">

        <div class="p-m">
            <button id="sidebar-close" class="right-sidebar-toggle sidebar-button btn btn-default m-b-md"><i class="pe pe-7s-close"></i>
            </button>
            <div>
                <span class="font-bold no-margins"> Analytics </span>
                <br>
                <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
            </div>
            <div class="row m-t-sm m-b-sm">
                <div class="col-lg-6">
                    <h3 class="no-margins font-extra-bold text-success">300,102</h3>

                    <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                </div>
                <div class="col-lg-6">
                    <h3 class="no-margins font-extra-bold text-success">280,200</h3>

                    <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar"
                     class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
        </div>
        <div class="p-m bg-light border-bottom border-top">
            <span class="font-bold no-margins"> Social talks </span>
            <br>
            <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
            <div class="m-t-md">
                <div class="social-talk">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="images/a1.jpg" alt="profile-picture">
                        </a>

                        <div class="media-body">
                            <span class="font-bold">John Novak</span>
                            <small class="text-muted">21.03.2015</small>
                            <div class="social-content small">
                                Injected humour, or randomised words which don't look even slightly believable.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-talk">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="images/a3.jpg" alt="profile-picture">
                        </a>

                        <div class="media-body">
                            <span class="font-bold">Mark Smith</span>
                            <small class="text-muted">14.04.2015</small>
                            <div class="social-content">
                                Many desktop publishing packages and web page editors.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-talk">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="images/a4.jpg" alt="profile-picture">
                        </a>

                        <div class="media-body">
                            <span class="font-bold">Marica Morgan</span>
                            <small class="text-muted">21.03.2015</small>

                            <div class="social-content">
                                There are many variations of passages of Lorem Ipsum available, but the majority have
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-m">
            <span class="font-bold no-margins"> Sales in last week </span>
            <div class="m-t-xs">
                <div class="row">
                    <div class="col-xs-6">
                        <small>Today</small>
                        <h4 class="m-t-xs">$170,20 <i class="fa fa-level-up text-success"></i></h4>
                    </div>
                    <div class="col-xs-6">
                        <small>Last week</small>
                        <h4 class="m-t-xs">$580,90 <i class="fa fa-level-up text-success"></i></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <small>Today</small>
                        <h4 class="m-t-xs">$620,20 <i class="fa fa-level-up text-success"></i></h4>
                    </div>
                    <div class="col-xs-6">
                        <small>Last week</small>
                        <h4 class="m-t-xs">$140,70 <i class="fa fa-level-up text-success"></i></h4>
                    </div>
                </div>
            </div>
            <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.
                Many desktop publishing packages and web page editors.
            </small>
        </div>

    </div>-->

    <!-- Footer-->
    <footer class="footer">
        <span class="pull-right">
            ORB
        </span>
        <span class="fa fa-copyright"></span>
        Astromy LLC 2013-<span id="copyrightYear"></span>
    </footer>

</div>



<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="vendor/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/jquery-flot/jquery.flot.js"></script>
<script type="text/javascript" src="vendor/jquery-flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="vendor/jquery-flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="vendor/flot.curvedlines/curvedLines.js"></script>
<script type="text/javascript" src="vendor/jquery.flot.spline/index.js"></script>
<script type="text/javascript" src="vendor/metisMenu/dist/metisMenu.min.js"></script>
<script type="text/javascript" src="vendor/moment/min/moment.min.js"></script>
<script type="text/javascript" src="vendor/fullcalendar/dist/fullcalendar.min.js"></script>
<script type="text/javascript" src="vendor/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="vendor/peity/jquery.peity.min.js"></script>
<script type="text/javascript" src="vendor/sparkline/index.js"></script>
<script type="text/javascript" src="vendor/ladda/dist/spin.min.js"></script>
<script type="text/javascript" src="vendor/ladda/dist/ladda.min.js"></script>
<script type="text/javascript" src="vendor/ladda/dist/ladda.jquery.min.js"></script>

                        <!--DATA TABLES-->
<script type="text/javascript" src="dataTables/datatables.min.js"></script>
<!-- DataTables -->
<script src="vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- DataTables buttons scripts -->
<script src="vendor/pdfmake/build/pdfmake.min.js"></script>
<script src="vendor/pdfmake/build/vfs_fonts.js"></script>
<script src="vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>

<script type="text/javascript"
        src="vendor/summernote/dist/summernote.min.js"></script>

<!-- App scripts -->
<script src="scripts/homer.js"></script>
<script src="scripts/common.js"></script>
<!--<script src="scripts/all.min.js"></script>-->

</body>
</html>